@media screen and (width >= 768px) {
  body {
    background-color: #e5e5e5;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
  }

  .item,
  .item-1,
  .item-5,
  .item-2,
  .item-3,
  .item-4,
  .c-b-2015,
  .my-menu {
    display: none;
  }

  .my-logo img {
    width: 130px;
    height: 55px;
    border-radius: 5px;
    margin-left: 3rem;
  }
  .header-section {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
  }

  .desknav {
    display: flex;
    padding: 1rem;
    background-color: white;
    justify-content: space-between;
  }

  .works {
    position: relative;
    left: -65px;
  }

  a {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: #6070ff;
  }

  .all-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 150px;
    float: right;
  }

  .items {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }

  .items a {
    padding-right: 20px;
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    transition: color 2s;
  }

  .social-icon a {
    font-size: 2em;
    color: #344563;
  }

  .main-section {
    background-image: url("img/header_background.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    display: flex;
    height: 620px;
    flex-direction: column;
    padding: 172px 200px 50px 250px;
    margin-bottom: 120px;
    border-bottom-left-radius: 100px;
  }

  .a {
    width: 76px;
    height: 20px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .main-section h1 {
    color: #091e42;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
  }

  .main-section p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .socialnetworks {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1px;
    margin-left: -8px;
  }

  .works-container {
    display: grid;
    margin: 1px 17px 82px 133px;
    justify-content: space-around;
    justify-items: center;
  }

  #work-1,
  #work-2,
  #work-3,
  #work-4 {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
  }

  #work-2,
  #work-4 {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
  }

  .desk-item-1 {
    width: 50%;
  }

  .desk-item-2 {
    display: flex;
    flex-direction: column;
    padding: 1px 10px 100px 20px;
    width: 50%;
  }

  .desk-item-2 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 23px;
    padding: 1rem;
    margin-left: -1rem;
  }

  .bed {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #6b778c;
  }

  .year {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #6b778c;
  }

  .bg-modal {
    background-color: rgb(193 199 208 / 70%);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    backdrop-filter: blur(10px);
    z-index: 10;
  }

  .canopy {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #344563;
    text-decoration: none;
  }

  .item-4 {
    padding-bottom: 25px;
  }

  .item-4 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .item-3 {
    display: flex;
    align-content: space-around;
  }

  .prog-lang {
    margin-left: -1rem;
  }

  .img_project-0,
  .img_project-1,
  .img_project-2,
  .img_project-3
   {
    display: none;
  }

  .crossBtn {
    color: #67798e;
    font-size: 30px;
    cursor: pointer;
  }

  .model_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    margin: 22px 68px;
  }
}

.project_title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project_description {
  display: none;
}

.project_descriptiondesk {
  width: 500px;
  font-size: 18px;
  margin-left: 5rem;
}

.tech_list {
  display: none;
}

.tech_listdesk {
  position: relative;
  left: 653px;
  top: -159px;
}

.tech_listdesk1 {
  position: relative;
  left: 653px;
  top: -211px;
}

.model_btn {
  position: relative;
  left: 661px;
  top: -240px;
  border: 3px solid #6070ff;
  font-size: 15px;
  padding: 6px 8px;
  border-radius: 8px;
  color: #396df2;
}

.tech_listdesk li {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-size: 12px;
  padding: 4px 12px;
  font-weight: 500;
}

.tech_listdesk1 li {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  font-size: 12px;
  padding: 4px 12px;
  font-weight: 500;
  margin-top: 19px;
}

.buttons {
  grid-column: 4/5;
  grid-row: 5/6;
  margin-top: 0;
}

.model_content {
  height: auto;
  margin-top: 10px;
  margin-left: 22px;
  background-color: white;
  border-radius: 15px;
  width: 90%;
  position: fixed;
  top: 20px;
  bottom: -100px;
  overflow-y: scroll;
}

.model_content::-webkit-scrollbar {
  display: none;
}

.img_desktop-0 {
  margin-left: 7rem;
}

.img_desktop-1 {
  margin-left: 11rem;
}

.img_desktop-2 {
  margin-left: 27rem;
}

.img_desktop-3 {
  margin-left: 6rem;
}

.prog-lang li a {
  font-size: 12px;
  font-weight: 500;
  color: #2334d4;
  border-radius: 8px;
  text-align: center;
  background: #f7f7f9;
  padding: 5px 10px;
  border: 1px solid blue;
  text-decoration: none;
}

.info_list {
  margin: 17px 59px;
}

button {
  border: 1px solid #4b72d1;
  border-radius: 8px;
  width: 140px;
  height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-top: 30px;
}

#submit-btn-edit {
  margin-top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-0, .img-1, .img-3 {
  width: 100%;
  margin-top: 10rem;
  object-fit: fill;
  border-radius: 1rem;
}

.img-2 {
    margin-left: 6rem;
    height: 80%;
    margin-top: 3rem;
}
.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 170px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-bottom: 20px;
  margin-left: -5px;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(70 2 70);
  color: white;
}

.button:active {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

.button:disabled {
  border: 1px solid gray;
  color: gray;
}

.about-myself {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 100px 20px 150px;
  border-top-right-radius: 100px;
}

.desk-about {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 80px 10px 100px 120px;
}

.inner-div p {
  left: 24px;
  top: 4802px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.sisa {
  display: flex;
  flex-direction: column;
  margin-right: 130px;
  margin-left: 80px;
  width: 50%;
}

.frameworksxx,
.skillsxx {
  display: none;
}

.frameworksxx.open,
 .skillsxx.open {
  display: flex;
  flex-direction: row;
}

.others-arrow,
.others-arrow-1,
.others-arrow-2 {
  transform: rotate(-0.25turn);
  margin-top: 1rem;
}

.others-arrow.open {
  transform: rotate(0turn);
}

.others-arrow-1,
.others-arrow-2 {
  transform: rotate(-0.25turn);
}

.languagesxx {
  display: none;
}

.languagesxx.open {
  display: flex;
  flex-direction: row;
}

.others-arrow {
  margin-top: 1rem;
}

.open .others-arrow {
  display: none;
}

.others-arrow-1.open,
.others-arrow-2.open  {
  display: inline;
  transform: rotate(0turn);
}

.languages-section {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 100px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-right: 55px;
  margin-top: 2px;
  padding: 10px;
}

.frameworks-section {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 100px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-right: 55px;
  margin-top: 2px;
  padding: 10px;
}

.skills-section {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 100px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-right: 55px;
  margin-top: 2px;
  padding: 10px;
}
.work-description > p {
  font-size: 18px;
  color: #344563;
  font-weight: lighter;
  font-family: Popins, sans-serif;
  line-height: 28px;
}

.languages-section li p {
  color: #253858;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-top: -10px;
}

.desk-about h1 {
  color: #091e42;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.desk-about li p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
}

p.con {
  color: #2334d4;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.socialnetworks li a {
  font-size: 1.5em;
  color: #505f79;
}

.socialnetworks-2 {
  display: flex;
  text-align: center;
  margin-top: 120px;
  justify-content: space-between;
}

.skills {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid #acb7c3;
}

.framework {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid #acb7c3;
  padding-top: 20px;
}

.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6070ff;
  background-image: url("img/header_background.svg");
  background-size: 100%;
  border-top-left-radius: 100px;
  margin-top: -100px;
  padding: 150px 400px;
}

.inner-div {
  width: 550px;
  height: 100px;
  margin-bottom: 100px;
}

.inner-div h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 0;
}

.form {
  padding-right: 30px;
  padding-left: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.form-button {
  padding-right: 30px;
  padding-left: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.form-control {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
  height: 48px;
  width: 447px;
  left: 0;
  top: 0;
  border-radius: 8px;
  padding-left: 10px;
  color: #000;
}

#error-message {
  position: relative;
  top: -119px;
}

.form-controlmsg {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
  height: 170px;
  width: 447px;
  left: 0;
  top: 0;
  border-radius: 8px;
  padding-left: 10px;
  color: #000;
}

textarea {
  resize: none;
}

li textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-family: Poppins, sans-serif;
  border-radius: 8px;
  width: 100%;
  height: 150px;
  padding-left: 10px;
  font-size: 15px;
  line-height: 24px;
  padding-top: 10px;
}

.inner-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}
