@media screen and (min-width: 768px) {
  body {
    background-color: #e5e5e5;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
  }

  .item,
  .item-1,
  .item-5,
  .item-2,
  .item-3,
  .item-4,
  .c-b-2015,
  .my-menu  {
    display: none;
  }

  .my-logo {
    position: relative;
    top: 5px;
    left: 28px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #1a2ccb;
  }

  .desknav {
    position: sticky;
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    padding: 1em;
    background-color: white;
    justify-content: space-between;
  }

  .works {
    position: relative;
    left: -65px;
  }

  .all-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 150px;
    float: right;
  }

  .items {
    display: flex;
    flex-direction: row;
    margin-right: 100px;
  }

  .items a {
    padding-right: 20px;
    text-decoration: none;
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    transition: color 2s;
  }

  .social-icon a {
    font-size: 2em;
    color: #344563;
  }

  .main-section {
    background-image: url(img/header_background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    display: flex;
    height: 620px;
    flex-direction: column;
    padding: 172px 200px 50px 250px;
    margin-bottom: 120px;
    border-bottom-left-radius: 100px;
  }

  .a {
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .main-section h1 {
    color: #091e42;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
  }

  .main-section p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .socialnetworks {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1px;
    margin-left: -8px;
  }

  .works-container {
    display: grid;
    margin: 1px 17px 82px 133px;
    justify-content: space-around;
    justify-items: center;
  }

  #work-1,
  #work-2,
  #work-3,
  #work-4 {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
  }

  #work-2,
  #work-4 {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
  }

  .desk-item-1 {
    width: 50%;
  }

  .desk-item-2 {
    display: flex;
    flex-direction: column;
    padding: 1px 10px 100px 20px;
    width: 50%;
  }

  .desk-item-2 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 1px;
  }

  .bed {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #6b778c;
  }

  .year {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #6b778c;
  }

  .bg-modal {
    background-color: rgba(193, 199, 208, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    backdrop-filter: blur(10px);
    z-index: 10;
  }

  a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    color: #6070ff;
  }

  .canopy {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #344563;
    text-decoration: none;
  }

  .item-4 {
    padding-bottom: 25px;
  }

  .item-4 p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .item-3 {
    display: flex;
    align-content: space-around;
  }

  .prog-lang {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
  }

  .img_project {
    display: none;
  }

  .crossBtn {
    color: #67798e;
    font-size: 30px;
    cursor: pointer;
    
  }

  .model_header {
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    height: 33px;
    margin: 20px 20px;
  }

  .project_title {
    color: #172b4d;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .project_description {
   display: none;
  }

  .project_descriptiondesk {
    display: flex;
    width: 500px;
    margin-left: 81px;
   }
  
  .tech_list {
    display: none;
  }

  .tech_listdesk  {
  
    position: relative;
    left: 590px;
    top: -245px;
  }

  .tech_listdesk1  {
    position: relative;
    left: 590px;
    top: -265px;
}


.model_btn {
  position: relative;
  left: 609px;
  top: -267px;
  align-items: center;
  gap: 11px;
  border: 1px solid #6070ff;
  font-size: 15px;
  padding: 6px 8px;
  border-radius: 8px;
  color: #396df2;
  width: 113px;
  height: 26px;
}

  .tech_listdesk li {
    background-color: #ebebff;
    color: #6070ff;
    border-radius: 8px;
    font-size: 12px;
    padding: 4px 12px;
    font-weight: 500;
  }

  .tech_listdesk1 li {
    background-color: #ebebff;
    color: #6070ff;
    border-radius: 8px;
    font-size: 12px;
    padding: 4px 12px;
    font-weight: 500;
    margin-top: 19px;
  }

  .buttons {
    grid-column: 4/5;
    grid-row: 5/6;
    margin-top: 0;
  }

  .model_content {
    height: auto;
    margin-top: 10px;
    margin-left: 22px;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    position: fixed;
    top: 20px;
    bottom: -100px;
    overflow-y: scroll;
  }

  .model_content::-webkit-scrollbar {
    display: none;
  }

  .img_desktop {
    width: 100%;
    height: 70%;
  }

  .prog-lang li a {
    font-size: 12px;
    font-weight: 500;
    color: #2334d4;
    border-radius: 8px;
    text-align: center;
    background: #f7f7f9;
    padding: 5px 10px;
    border: 1px solid blue;
    text-decoration: none;
  }

  .info_list {
    margin: 17px 23px;
  }

  button {
    border: 1px solid #4b72d1;
    border-radius: 8px;
    width: 140px;
    height: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: white;
    margin-top: 30px;
  }

  #submit-btn-edit {
    margin-top: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .resume {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #3d4ee4;
    width: 170px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: white;
    margin-bottom: 20px;
    margin-left: -5px;
    margin-top: 10px;
  }

  button:hover {
    background-color: rgb(70, 2, 70);
    color: white;
  }

  .button:active {
    border: 1px solid blue;
    background-color: blue;
    color: white;
  }

  .button:disabled {
    border: 1px solid gray;
    color: gray;
  }

  .about-myself {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 100px 20px 150px 20px;
    border-top-right-radius: 100px;
  }

  .desk-about {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 80px 10px 100px 120px;
  }

  .inner-div p {
    left: 24px;
    top: 4802px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .sisa {
    display: flex;
    flex-direction: column;
    margin-right: 130px;
    margin-left: 80px;
    width: 50%;
  }

  .languagesxx {
    display: flex;
    flex-direction: row;
  }

  .languages-section {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 100px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 55px;
    margin-top: 2px;
    padding: 10px 10px 10px 10px;
  }

  .work-description > p {
    font-size: 18px;
    color: #344563;
    font-weight: lighter;
    font-family: Popins, sans-serif;
    line-height: 28px;
  }

  .languages-section li p {
    color: #253858;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: -10px;
  }

  .desk-about h1 {
    color: #091e42;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .desk-about li p {
    color: #344563;
    font-size: 16px;
    line-height: 24px;
  }

  p.con {
    color: #2334d4;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .socialnetworks li a {
    font-size: 1.5em;
    color: #505f79;
  }

  .socialnetworks-2 {
    display: flex;
    text-align: center;
    margin-top: 120px;
    justify-content: space-between;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #acb7c3;
  }

  .framework {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #acb7c3;
    padding-top: 20px;
  }

  .contact-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6070ff;
    background-image: url(img/header_background.svg);
    background-size: 100%;
    border-top-left-radius: 100px;
    margin-top: -100px;
    padding: 150px 400px 150px 400px;
  }

  .inner-div {
    width: 550px;
    height: 100px;
    margin-bottom: 100px;
  }

  .inner-div h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 0;
  }

  li input {
    background: #fff;
    border: 1px solid #cfd8dc;
    font-family: Poppins, sans-serif;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    color: #000;
  }

  textarea {
    resize: none;
  }

  li textarea {
    background: #fff;
    border: 1px solid #cfd8dc;
    font-family: Poppins, sans-serif;
    border-radius: 8px;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 10px;
  }

  .inner-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
}
