html,
body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #fff;
}

.omeni{
  padding-top: 220px;
  font-size: 40px;
  line-height: 52px;
}
.intro {
  position: relative;
  top: -110px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.cone {
  position: relative;
  top: -110px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}
.my-logo {
  position: relative;
  top: 12px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
}

.soft-de {
  position: relative;
  left: 26px;
  top: 80px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.let-con {
position: relative;
left: 23px;
top: 80px;
}
.my-menu {
  position: relative;
  left: -10px;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

h1 {
  position: relative;
  left: 26px;
  width: 300px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #172b4d;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#introduction {
  padding: 12px;
  background-image: url('img/background.svg');
  background-size: 94%;
  position: relative;
  bottom: 9px;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 70px;
  height: 100vh;
  width: 100%;
}

.socialnetworks {
  position: relative;
  left: 23px;
  top: 90px;
  gap: 20px;
}

.im {
  position: relative;
  left: 23px;
  top: 65px;
}

.socialnetworks2 {
  display: flex;
  list-style: none;
  padding-left: 0%;
  gap: 160px;
  font-size: 24px;
  color: #000;
}

.socialnetworks3 {
  display: flex;
  list-style: none;
  padding-left: 0%;
  gap: 290px;
  font-size: 24px;
  color: #000;
}
.socialnetworks1 {
  position: relative;
  bottom: 200px;
  gap: 26px;
}
.flex-item {
  position: relative;
  bottom: 106px;
  gap: 26px;
}
button {
  border: 2px #396df2;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: white;
  color: #6070ff;
  cursor: pointer;
}

button:hover {
  background-color: purple;
  color: white;
}

button:active {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

button:disabled {
  border: 1px solid gray;
  color: gray;
}

button:disabled:hover {
  border: 1px solid gray;
  color: gray;
  background: white;
}

.portofolio-img {
  width: 100%;

}

h5 {
  position: relative;
  top: -50px;
  font-family: 'Poppins';
  font-size: 32px;
  color: #172B4D;

}
.container {
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
.canopy {
  font-family: 'Poppins';
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}
.bed {
  font-family: 'Poppins';
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: #7a869a;
}

.items {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 552px;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}

.items-2 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 596px;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}

.items-3 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 596px;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}

.items-4 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 596px;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 50px;
}
.others-arrow-1{
  position: relative;
  left: -181px;
  top: -159px;
  transform: rotate(-0.25turn);
}
.others-arrow-2{
  position: relative;
  left: -63px;
  top: -166px;
  transform: rotate(-0.25turn);
}
.c-b-2015 {
  position: relative;
  bottom: 120px;
}
.others-item-1 {
  position: relative;
  top: -160px;
  height: 1px;
  left: 15px;
}
.others-arrow {
  position: relative;
  top: -160px;
  height: 1px;
}
.line {
  position: relative;
  right: 655px;
  top: -224px;
  height: 1px;
  width: 345px;
  background: #DFE1E6;
}

.line1 {
  position: relative;
  right: 643px;
  top: -53px;
  height: 1px;
  width: 345px;
  background: #DFE1E6;
}
.a-day {
  position: relative;
  top: -139px;
  width: 295px;
  font-size: 15px;
  color: #344563;
}
h6 {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.c-b-2015-ul {
  display: flex;
  gap: 10px;
}

.prog-lang {
  position: relative;
  bottom: 150px;
}
.year {
  text-decoration: none;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #7A869A;
}
.prog-lang li {
  background: #ebebff;
  border-radius: 8px;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.button {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
  border: 1px solid #396df2;
  border-radius: 16px;
  position: relative;
  top: -120px;
}

.portofolio-img-2 {
  background-image: url("img/portofolio-img-2.svg");
  width: 295px;
  height: 220px;
  border-radius: 8px;
  align-self: center;
  margin-top: 10px;
}

.portofolio-img-3 {
  background-image: url("img/portofolio-img-3.svg");
  width: 295px;
  height: 220px;
  border-radius: 8px;
  align-self: center;
  margin-top: 10px;
}

.portofolio-img-4 {
  background-image: url("img/portofolio-img-4.svg");
  width: 295px;
  height: 220px;
  border-radius: 8px;
  align-self: center;
  margin-top: 10px;
}

.flex-container {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-top: 60px;
  padding-top: 10px;
  border-top-right-radius: 90px;
  padding-right: 44px;
  padding-left: 33px;
}

.button-resume {
  position: relative;
  top: -85px;
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
  border: 1px solid #396df2;
  border-radius: 16px;
}

.js {
  width: 333px;
 height: 66.72px;
 background: #F7F7F9;
 border-radius: 8px;
 flex: none;
 order: 0;
 flex-grow: 0;
}
.languages-section {
  position: relative;
  top: -150px;
  flex-direction: column;
  justify-content: space-evenly;
}

.fram {
  position: relative;
  height: 24px;
  top: -160px;
  color: #000000;
}
